@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f3f3f3;
    margin: 1;
    padding: 0;
}

/* ========
    HEADER
   ======== */

header {
    display: flex;
    align-items: center;
    background-color: #fff;
    color: #1b1c1c;
    justify-content: space-between;
    border-bottom: 1px solid #cccccc;
    box-shadow: 5px 5px 10px rgba(0, 104, 231, 0.3);
}

header h1 {
    margin-left: 10px;
}

.logo {
    height: 60px;
    padding: 10px;
    margin-left: 5%;
}
.logo:hover {
    cursor: pointer;
}

nav {
    background-color: #fff;
    padding: 10px;
    margin-right: 5%;
    transition: 0.2s;
    
}
nav a {
    color: #1b1c1c;
    text-decoration: none;
    margin: 0 10px;
    font-size: 20px;
    
}

nav a:hover {
    text-decoration: underline;
}

/* ========
    HEADER END
   ======== */

/* ========
    GENERAL
   ======== */

section {
    background-color: #ffffff;
    margin-top: 10px;
    padding: 20px;
    
}

section p {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

h2 {
    color: #000;
}

/* ========
    GENERAL END
   ======== */

/* ========
    PAG-INICIAL
   ======== */

.main-section {
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    background-image: url(./../img/main-bg2.jpg);
    background-position: center;
}

.main-div {
    display: flex;
    flex-direction: column;
    min-height: 150vh;
    padding: 20px;
}

.line1 {
    display: flex;
    margin-left: 2.5%;
    margin-top: 50px;
    height: 60vh;
}

.line2 {
    display: flex;
    margin-left: 2.5%;
    margin-top: 200px;
    height: 60vh;
}

.text-main {
    background-color: #fff;
    padding: 30px;
    border-radius: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.div-jumbo {
    min-width: 50%;
    display: flex;
    justify-content: center;
    
}

.jumbo {
    height: 500px;
    margin-left: 60px;
    transition: 0.2s;
}

.jumbo:hover {
    height: 520px;
}

.insta {
    height: 500px;
    border: 5px solid #fff;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition: 0.2s;
}

.insta:hover {
    height: 520px;
}

.main-title {
    font-family: 'Playpen Sans', cursive;
    font-size: 50px;
    margin-top: 2%;
}

.main-p {
    font-family: 'Playpen Sans', cursive;
    color: #000;
}

/* ========
    PAG-INICIAL END
   ======== */

/* ========
    ORGANOGRAMA 
   ======== */

.organograma-section {
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.organograma-div {
    display: flex;
    min-width: 100%;
    flex-direction: column;
    align-items: center;
    
}

.organograma {
    width: 1000px;
}

.organograma-box {
    width: 100%;
    justify-items: left;
}

/* ========
    ORGANOGRAMA END
   ======== */

/* ========
CHATBOT END
======== */

.main-div-chatbot {
    display: flex;
    flex-direction: column;
    min-height: 74vh;
    padding: 20px;
}

/* ========
    CHATBOT END
   ======== */

/* ========
    EQUIPE
   ======== */

.box-equipe {
    font-family: 'Playpen Sans', cursive;
    min-height: 83vh;
    /* background-image: url(./../img/main-bg.jpg);
    background-position: center; */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.equipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border-bottom: 1px solid #cccccc; */
    box-shadow: 5px 5px 10px rgba(0, 104, 231, 0.3);
    /* margin: 10px; */
    min-width: 30%;
    background-image: url(./../img/main-bg2.jpg);
    background-position: center;
    transition: 0.2s;
}

.equipe:hover {
    
    min-width: 32%;



}

.equipe-screen {
    display: flex;
    justify-content: space-between;
}


.imagem img {
    width: 100px;
    margin-top: 10px;
    border: 5px solid #fff;
    border-radius: 100%;
}

/* ========
    EQUIPE END
   ======== */

footer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.footer-p {
    color: #cccccc;
}